$cg:#eeeeee ;
$cb:white;
$lg:lightgrey;
$w100: 100%;
@mixin flex($disp , $just , $align){
    display         : $disp;
    justify-content : $just;
    align-items     : $align;       

}
@mixin font($fs, $fw){
    font-size  : $fs;
    font-weight: $fw;
}
/* portada */
.cont_portada{
    width: $w100;
    height:500px;
    position:relative;
    margin-top:80px;
    background-image: url(../img/imagendeportada.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &:before{
        content: '';
        width: $w100;
        height:$w100;
        background-color:rgba(1, 107, 206, 0.7);
        position:absolute;
        top:0;
        left:0;
    }
}

.cont-dentro_portada{
    @include flex(flex , center , center);
    height:$w100;
    flex-direction: column;
    position:relative;
    a:hover{
        color:black;
    }
    p{
        @include font(60px,400);
        margin-bottom: 20px;
        color:$cb;
    }
    
    a{
        color:skyblue;
    }

}
.p_chico p{
    @include font(20px,100);
    color:$cb;
    
}